# Firebase Console > Project settings > Your apps > SDK setup and configuration
# Kakao Developers > App key > JavaScript key (Kakao Map Web SDK용)
VITE_KAKAO_JAVASCRIPT_KEY=
VITE_USE_MOCK_API=false
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
